@page "/"
<style type="text/css">
    .container_main {
        display: flex;
        flex-direction: row; 
    }
    .map_container {
        width: 60%;
        height: 600px;
        border-right: 1px solid #dee2e6 !important;
    }
    .map {
        background: bisque;
        width: auto;
        height: 100%;
    }
    .data_container {
        width: 40%;
        height: 600px;
    }
    .table th {
        border-top: 0 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
</style>

<div class="container_main">
    <div class="map_container">
        <div class ="map"></div>
    </div>
    <div class="data_container">
        <table class="table">
            <tr>
                <th>Dostępne miejsca parkingowe</th>
            </tr> 
        </table>
    </div>
</div>
