@page "/"



<style type="text/css">
    .container_main {
        display: flex;
        flex-direction: row;
    }

    .map_container {
        width: 60%;
        height: 600px;
        border-right: 1px solid #dee2e6 !important;
    }

    .map_main {
        height: 95%;
        width: 95%;
        padding-top: 5%;
        border: none;
    }

    .data_container {
        padding: 3%;
        width: 40%;
        height: auto;
    }

    .table th {
        border-top: 0 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
</style>

@if (Zones == null)
{
    <p><em>Loading...</em></p>
}
else
{

<div class="container_main">
    <div class="map_container">
        <iframe class ="map_main" src="https://www.google.com/maps/d/u/0/embed?mid=1oRY2pnth-HEjiNt85d26lpaTDLz0nTmx&ehbc=2E312F"></iframe>
    </div>
    <div class="data_container">
        <table class="table">
            <thead>
                <tr>
                    <th>Zone code</th>
                    <th>Current price in the zone</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var zone in Zones)
            {

                <tr>
                    <td>@zone.ZoneName</td>
                    <td>@zone.TotalPrice.ToString("c")</td>
                </tr>

            }
            </tbody>
        </table>
        <button type="submit" @onclick="LoadData">Get new data</button>
    </div>
</div>

}