<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" id="navbar_main">
    <div class="container" id="this_one_container">
        <a class="navbar-brand" href=""><img src="https://iv.pl/images/f1daf8074c2c5ca444bb47656c4f60fc.png" alt="GoEco logo" class="logo_nav"/></a>

        <div class="@NavMenuCssClass">
            <div class ="navbar_items">
                <ul class="navbar-nav">
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

}
